/*@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-Thin.ttf);font-weight:100; }
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-Light.ttf);font-weight:300;}
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-Regular.ttf);font-weight:400; }
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-Medium.ttf);font-weight:500; }
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-Bold.ttf);font-weight:700; }
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-LightItalic.ttf);font-weight:300;font-style:italic; }
@font-face { font-family: Roboto;src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);font-weight:500;font-style:italic; }*/
/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Basic Page Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/** { .boxSizing(); }
html, body, .container { height: 100%; }
html {
	@media @mobile { font-size: 0.95em; }
	@media @tablet { font-size: @body; }
	font-size:1.10em;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
body {
	margin: 0px;
	padding: 0px;
}

.container {
	height: auto;
	min-height: 100%;
	.content {
		width: 100%;
		.header {
			height: 4em;
			
			.logo {
			
			}
			
			.menu {
			
			}
		}
		
		.main {
		
		}
		
		.timeCalendar {
		
		}
		
		.about {
		
		}
		
		.media {
		
		}
	}
	
	.footernNew {
	
	}
}*/
.italic {
    font-style: italic;
}
h2{
	color: #143f8e;		
}
.margin-less{
	margin:0;
}
.logo{
	width:100%;
	height:100px;
	
}
.titulo-azul{
	background:#143f8e;

}
.blanco{
	color: #fff;
	width:80%;
	margin:0 auto;
	margin-top:15px;
}
.puridiom-man{
	width:100%;
	height:600px;
}
#panel{
	background:url(./images/descarga.jpg);
	background-size:cover;
	height:600px;
}
.cuadrado{
	 width:100%;
	 height:500px;
	 margin-top:50px; 
     background:rgba(255,165,0,0.8);
     
}



.caja-triangulo{
    padding:0;
}
.caja-cuadrado{
	padding:0;
}
.cuadrado h3:first-child
{
	padding:40px 10px 10px;
	font-size:21px;
}
.cuadrado h3:nth-child(2){
	padding:10px;
	font-size:23px;
}
.cuadrado h3:nth-child(3){
	padding:10px;
	font-size:21px;
}
.cuadrado h3:nth-child(5){
	padding:10px;
	font-size:21px;
}
.about {
    position: relative;
    background-color: #DFDFDF;
    background-repeat: no-repeat;
    background-image: url(images/semicirculo3.png);
    background-size: 80%;
    background-position: center 255px;
    padding: 30px;
}
.about .description{
    width: 70%;
    margin: 5px auto 30px;
    font-size: 1.2em;	
}
.about .rules_img {
  position: absolute;
  left: calc(50% - 128px);
  width: 230px;
  bottom: 3%;
}
.rules div {
  background: -webkit-linear-gradient(#ffffff, #dfdfdf);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  background: -moz-linear-gradient(#ffffff, #dfdfdf);
  background: linear-gradient(#ffffff, #dfdfdf);
  min-height: 150px;
  margin-top: 30px;
  display: table;
  border-radius: 10px;
}
.rules .content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}
.rules .content h3{
  color:#8BBC21;
  font-size: 1.3em;
}
.rules .content p{
  font-size: 0.9em;
}
img {
  width: 100%;
}
.navbar {
  min-height: 75px;
  background: #143f8e;
  border-bottom: 2px solid #ffffff;
}
.navbar .menu {
  margin: 25px 0;
}
.navbar .menu li {
  display: inline-block;
  margin-right: 20px;
}
.navbar .menu li a {
  color: #ffffff;
  text-decoration: none;
}
.presentation {
  margin-top: 75px;
  background: #eee;
  background-size: cover;
  padding: 25px 0;
  color: #ffffff;
}
.presentation .bgtext {
  background: rgba(0, 0, 0, 0.6);
  margin: 1.5em 0;
}
.presentation .objetivo {
  min-height: 4em;
}


.media{
	display: block;	
}
.media-img{
	display: block;
	background-color:#809AB1; 
	padding: 20px;
	margin: 0 auto;
	border-top: 2px solid #FFF;
}
.media-imagen{
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	background-color: #C0CDD8;
	width: 350px;
	margin: 20px;
	overflow:hidden;
}
.media-imagen img{
	width: 100%;
	border-radius: 4px;
}
.tags{
	background-color: #DFDFDF;
	text-align: center;
}
.tag1{
	padding: 10px;
	color: #fff;
	margin: 20px;
	border-radius: 4px;
	width: 200px;
	text-align: center;
	
}
.tags a{
	text-decoration: none;
	color: #fff;
	transition: color 1s;
}
.tags .i_media{
	width: 40px;
	margin-right:10px;
}
.tags button{
	background-color:#143F8E;
	color: #fff;
	font-weight: bold;
	padding: 5px 22px;
    margin: 15px;
    border-radius: 8px;
	width: 150px;
}
.media h2{
	color:#143F8E;
	text-align: center;
}
.media-imagen img:hover{
	transform: scale(1.1);
	border-radius: 4px;
}
.opc{
	display: inline-block;
}

	
footer{
	background:#143f8e;
	color:#FFF;
}
footer .social{
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: flex;
    width:100%;
    max-height: 150px;
    justify-content: center;
}
footer .social .s_item{	
	display: -webkit-flex;
    display: flex;
    width:8%;
    justify-content: center;
}
footer .social .s_item .social_img{	
	width: 50px;
	height: 50px;
	margin:25px 0;
}

