body {
    background:-moz-linear-gradient(top, #ECC5C1 0%, #FFF 100%);
	background:-webkit-gradient(top, color-stop(0%,#ECC5C1), color-stop(100%,#FFF));
	background:-webkit-linear-gradient(top, #ECC5C1 0%,#FFF 100%);
	background:-o-linear-gradient(top, #ECC5C1 0%,#FFF 100%);
	background:-ms-linear-gradient(top, #ECC5C1 0%,#FFF 100%);
	background:linear-gradient(top, #ECC5C1 0%,#FFF 100%);
	background-repeat:repeat-x;
	background-size:100% 90px;
	/*background-image: url(asfalt-light.png); */
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/*.navigation {
	background:transparent;
}*/
/*
.navigation {
    background:url(puridiom_christmas_lights.png);
	background-repeat:repeat-x;
	background-size:400px auto;
	background-position:0px -12px;
	/*background-image: url(asfalt-light.png); */
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!
}
/* brown:#775637 */
/* orange:#775637 */

/*nav > ul {
    border-color:#7D1B25;
}
nav a {
    color:#AA1100;
}*/

.holiday {
    float:right;
    height:112px;
    margin:0px;
    width:125px;
    position:relative;
    display:block;
}
@media (max-width:960px) {
    .holiday {
        margin:0px 20px 0px 0px;
    }
}
@media (max-width:767px) {
    .holiday {
        display:none;
    }
}
.holiday a {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}
.holiday img {
    width:130px;
    margin:0px;
    display:block;
    position:absolute;
    z-index:99;
    right:0px;
    bottom:0px;
}
